
CREATE TABLE Income (
	code int NOT NULL ,
	point int NOT NULL ,
	date timestamp NOT NULL ,
	inc numeric(10,2) NOT NULL 
)
;

CREATE TABLE Outcome (
	code int NOT NULL ,
	point int NOT NULL ,
	date timestamp NOT NULL ,
	out numeric(10,2) NOT NULL 
)
;

CREATE TABLE Income_o (
	point int NOT NULL ,
	date timestamp NOT NULL ,
	inc numeric(10,2) NOT NULL 
)
;

CREATE TABLE Outcome_o (
	point int NOT NULL ,
	date timestamp NOT NULL ,
	out numeric(10,2) NOT NULL 
)
;

ALTER TABLE Income  ADD 
	CONSTRAINT PK_Income PRIMARY KEY   
	(
		code
	)  
;

ALTER TABLE Outcome  ADD 
	CONSTRAINT PK_Outcome PRIMARY KEY   
	(
		code
	)  
;

ALTER TABLE Income_o  ADD 
	CONSTRAINT PK_Income_o PRIMARY KEY   
	(
		point,
		date
	)  
;

ALTER TABLE Outcome_o  ADD 
	CONSTRAINT PK_Outcome_o PRIMARY KEY   
	(
		point,
		date
	)  
;
                                                                                                                                                                                                                                                                 
----Income------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ 
insert into Income values(1,1,'20010322 00:00:00.000',15000.00)
insert into Income values(2,1,'20010323 00:00:00.000',15000.00)
insert into Income values(3,1,'20010324 00:00:00.000',3600.00)

                                                                                                                                                                                                                                                                 
----Outcome---------------------------------------------------------- 
insert into Outcome values(1,1,'20010314 00:00:00.000',15348.00)
insert into Outcome values(2,1,'20010324 00:00:00.000',3663.00)
insert into Outcome values(3,1,'20010326 00:00:00.000',1221.00)

                                                                                                                                                                                                                                                                 
----Income_o----------------------------------------------------------
insert into Income_o values(1,'20010322 00:00:00.000',15000.00)
insert into Income_o values(1,'20010323 00:00:00.000',15000.00)
insert into Income_o values(1,'20010324 00:00:00.000',3400.00)

                                                                                                                                                                                                                                                                 
----Outcome_o----------------------------------------------------------
insert into Outcome_o values(1,'20010314 00:00:00.000',15348.00)
insert into Outcome_o values(1,'20010324 00:00:00.000',3663.00)
insert into Outcome_o values(1,'20010326 00:00:00.000',1221.00)

