
CREATE TABLE utB (
	B_DATETIME timestamp NOT NULL ,
	B_Q_ID int NOT NULL ,
	B_V_ID int NOT NULL ,
	B_VOL int NULL 
)
;

CREATE TABLE utQ (
	Q_ID int NOT NULL ,
	Q_NAME varchar (35) NOT NULL 
)
;

CREATE TABLE utV (
	V_ID int NOT NULL ,
	V_NAME varchar (35) NOT NULL ,
	V_COLOR char (1) NOT NULL 
)
;

ALTER TABLE utB  ADD 
	CONSTRAINT PK_utB PRIMARY KEY   
	(
		B_DATETIME,
		B_Q_ID,
		B_V_ID
	)  
;

ALTER TABLE utQ  ADD 
	CONSTRAINT PK_utQ PRIMARY KEY   
	(
		Q_ID
	)  
;

ALTER TABLE utV  ADD 
	CONSTRAINT PK_utV PRIMARY KEY   
	(
		V_ID
	)  
;

ALTER TABLE utB ADD 
	CONSTRAINT FK_utB_utQ FOREIGN KEY 
	(
		B_Q_ID
	) REFERENCES utQ (
		Q_ID
	);
	
ALTER TABLE utB ADD 
	CONSTRAINT FK_utB_utV FOREIGN KEY 
	(
		B_V_ID
	) REFERENCES utV (
		V_ID
	)
;
                                                                                                                                                                                                                                                                
----utQ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ 
insert into utQ values(1,'Square # 01')
insert into utQ values(2,'Square # 02')
insert into utQ values(3,'Square # 03')

                                                                                                                                                                                                                                                                 
----utV------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ 
insert into utV values(1,'Balloon # 01','R')
insert into utV values(2,'Balloon # 02','R')
insert into utV values(3,'Balloon # 03','R')

                                                                                                                                                                                                                                                                 
----utB------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ 
insert into utB values('20030101 01:12:01.000',1,1,155)
insert into utB values('20030623 01:12:02.000',1,1,100)
insert into utB values('20030101 01:12:03.000',2,2,255)


